* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  /* background-color: rgb(239, 230, 230); */
}
@media screen and (max-width: 992px) {
  .d-flex {
    gap: 22px;
    flex-direction: column;
  }
  .Contents {
    width: 100% !important;
  }
  .d-flex .css-rtb829 {
    width: 100%;
  }
  .d-flex .css-1p2rx6t {
    font-size: 11px;
  }
  .css-cznqpw {
    margin: 20px auto !important;
  }
  .d-flex .css-fdcnsz {
    font-size: 16px;
    margin: auto;
    width: 69%;
  }
}
@media screen and (max-width: 768px) {
  .css-cznqpw {
    margin: 20px auto !important;
    width: 70%;
  }
  
}
@media screen and (max-width: 510px) {
  .d-flex .css-142mtwu {
    display: flex;
    flex-direction: column;
  }
}
